[Unit]
Description=Config reload for fx-caddy
After=fx-caddy.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker exec fx-caddy caddy reload --config /etc/caddy/Caddyfile --force
RemainAfterExit=no
