[Unit]
Description=Restart docker compose service fx-prometheus
After=fx-prometheus.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart fx-prometheus.service
